run = "npm run dev"
entrypoint = "src/App.tsx"

[env]
NODE_ENV = "development"
NEXT_TELEMETRY_DISABLED = "1"

[nix]
channel = "stable-22_11"

[deployment]
run = ["sh", "-c", "npm run start"]
deploymentTarget = "cloudrun" 